* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    height: 80%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #ff4d6d;
}

.buttons {
    position: relative;
}

button {
    padding: 15px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius:  12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background: #ff4d6d;
    margin: 20px;
}

#noBtn {
    background: #adb5bd;
    color: white;
    position: relative;
}

#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.heart {
    position: absolute;
    color: #ff4d6d;
    font-size: 24px;
    animation: fall linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    animation: scaleUp 0.3s ease;
}
.popup-box p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ff4d6d;
}
.popup-box button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.popup-buttons button {
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.popup-yes {
    background: #ff4d6d;
    color: white;
}

popup-no {
    background: #adb5bd;
    color: white;
    position: relative;
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 2000;
}

/* .confetti {
    position: absolute;
    
    width: 10px;
    height: 10px;
    opacity: 0.9;
    animation: confetti-fall linear forwards;
} */

.confetti {
    position: absolute;
    font-size: 18px;
    animation: confetti-fall linear forwards;
}

@keyframes confetti-fall {
    from {
        transform: translateY(-10vh) rotate(0deg);
    }
    to {
        transform: translateY(110vh) rotate(720deg);
    }
}